.work{
    background-color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 140vh;
    
    /* justify-content: space-around;  */
}
.obj{
   max-width: 1200px;
   max-height: 400px;
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: nowrap;
   padding-bottom: 45px;
}
.obj img{
    width: 600px;
    padding:0 30px;
    height: 400px;
    
}
h2{
    color: rgb(0, 0, 0);
    font-size: 36px;
    max-width: 600px;
    align-items: center;
}
p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    max-width: 600px;
    line-height: 1.5;
}
ul{
    max-width: 600px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.2;
    
}
.nav{
    font-size: 16px;
}
.eb{
    
    border: 1px solid;
}